<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carrus.trucker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-permission android:name="com.carrus.trucker.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="com.carrus.trucker.permission.MAPS_RECEIVE" />

    <permission
        android:name="com.carrus.trucker.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />

    <permission
        android:name="com.carrus.trucker.supportmapfragment.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".utils.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".activities.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <receiver android:name=".receivers.LocationStateReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.BookingDetailsActivity"
            android:label="@string/title_activity_booking_details"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".activities.ShowImageActivity"
            android:label=""
            android:screenOrientation="portrait"/>

        <service android:name=".services.MyService" />
        <service android:name=".services.TrackingService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9a344ba4644c7661f8ee12e1e5573f21396bbaf0" />

        <activity
            android:name=".activities.RatingDialogActivity"
            android:label="@string/title_activity_rating_dialog"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog"/>

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.carrus.trucker" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmMessageHandler" />

    </application>

</manifest>
